<ul>
  <li>
    <a href="/people">People</a>
    <ul>
      <li>Basic CRUD</li>
      <li>No Rails helpers (well, almost none)</li>
    </ul>
  </li>
  <li>
    <a href="/trees">Trees</a>
    <ul>
      <li>Basic CRUD with validations</li>
      <li>No Rails helpers (well, almost none)</li>
    </ul>
  </li>
</ul>
